#opale-modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); /* Apply background blur effect */
  z-index: 1000;
  justify-content: center;
  align-items: center;
  display: flex;
}

#modal-content {
  background-color: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background */
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: sans-serif; /* Use sans-serif font */
}

.verification-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.verification-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verification-option img {
  width: 100px; /* Adjust the image size as needed */
  height: 100px; /* Adjust the image size as needed */
  margin-bottom: 10px;
}

.verification-option button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}